Introduction to Python Fundamentals

In [2]:
#Python Indentation
if 5>2:
  print("5 is greater than 2")

5 is greater than 2

In [ ]:
#Declaration of variable
x= 5
y = 2

if x>y:
  print("5 is greater than 2")
elif x<y:
  print("2 is greater than 5")
else:
  print("5 and 2 are equal")

In [5]:
#Python Variable

a,b=0,-1
print (a)
print (b)

0
-1

In [7]:
#Python variable with multiple  values
a,b,c=0,-1,-2
print(a)
print(b)
print(c)

0
-1
-2

In [10]:
a = 1
b= 2
c =3
print(a)

1

In [15]:
#Single Variable with Multiple Values
a = b = c = 4.5
print(a)
print(b)
print(c)

4.5
4.5
4.5

In [16]:
print(type(a))

<class 'float'>